* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;}

.body{
  align-items: right;
    background-color: aqua;
    color:#FFE101 ;
    font-size: 50px;
    width: 900px;
    height: 500px;
    border-radius: 20px;
    
}
.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #B56EF3;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }

  .button:hover {background-color: #4F5589}

.button:active {
  background-color:#4F5589;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
  

.button2 {
    position: relative;
    top: 20px;
    left: 100px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #B56EF3;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }

  .button2:hover {background-color: #4F5589}

.button2:active {
  background-color:#4F5589;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.button3 {
    position: relative;
    top: 20px;
    right: 100px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #B56EF3;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }

  .button3:hover {background-color: #4F5589}

.button3:active {
  background-color:#4F5589;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

body{
  height: 100vh;
  display: flex;

  justify-content:center;
  background-image: url(fondo.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.componentes{
  width: 180px;
  height: 72vh;
  color: #FFE101;
  background-color: red;
  border-radius: 20px;
  margin-top: 20px;
  padding:10px;
  display: flex;
  justify-content: space-around;
  transition:  all .5s ease-out;
    
}
.controles{
  width: 1000px;
  height: 140px;
  padding: 10px;
  background-color: #B56EF3;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  transition:  all .5s ease-out;
    
}
